{
  "extends": "airbnb-base",
  "rules": {
    "quotes": ["warn", "double"],
    "import/prefer-default-export": 0,
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "consistent-return": [1, { "treatUndefinedAsUnspecified": true }]
  }
}
